/* ****************************
            RESET
***************************** */
:root, html {
    font-size: 62.5%;
    font-family: 'Open sans';
    font-weight: lighter;
}
body {
    font-size: 16px;
    font-size: 1.6rem;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 500;
}
/* ****************************
            body
***************************** */

body {
    background-color: #f5f5f5;
    margin: 0;
}
.mitten {
   width:960px;
   margin: 0 auto;
   /*border: 1px dashed red;*/
}


/* ****************************
            header
***************************** */
header {
    background-color: #222; 
      font-size: 0; 
    white-space: nowrap;
    /*position: fixed;
    width:100%;*/
}
.logga {
    font-family: 'Architects Daughter';
    color: #fff;
    display: inline-block;
    font-size: 32px;
    font-size: 3.2rem;
    vertical-align: middle;
    width:335px;
}
.logga > span {
    color: red;
}
.meny {
    display: inline-block; 
    vertical-align: middle;  
 
}

.meny > a {
    color: #fff;
    display: inline-block;
    width:125px;
    text-align: center;
    text-decoration: none;
    height: 3em;
    line-height: 3em;
    margin: 0;
    font-size: 16px;
    font-size: 1.6rem;
}
.meny > a:hover {
    background-color: #ba3030;
}

/* ****************************
            banner
***************************** */

.start-banner {
    background-color: #9EF;
    background-image: url('images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 35%;
    padding-top:200px;
    padding-bottom: 20px;
}
.banner-content {
   color: #fff;
}
.banner-content > h2 {
   font-size: 45px;
   font-size: 4.5rem;
   text-shadow: 0 0 2px #222;
   font-weight: lighter;
}
.banner-content > p {
    font-size: 20px;
    font-size: 2.0rem;
    text-shadow: 0 0 2px #222;
    margin: 0;
}
/* ****************************
            main
***************************** */

main {
   background-color: #fff;
}
.flex-col {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #f5f5f5;
}

.flex-col > * {
    width: 960px;
    background-color: #fff;
}

/* ****************************
            .info-article
***************************** */

.info-article {
    white-space: nowrap;
    padding: 40px;

}
.info-article h2 {
    font-size: 34px;
    font-size: 3.4rem;
}
.info-article > .info-text {
    white-space: normal;
    display: inline-block;
    width:80%;
    vertical-align: top;
}
.btn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #c21345;
  padding: 9px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #ff0000;
  text-decoration: none;
}
.info-article > aside {
    display: inline-block;
    width:20%;
    background-color: #eee;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 0px 9px -1px #555;
    vertical-align: top;
}
.info-article > aside > div > h3 {
    margin-bottom: 0.3em;
    /*margin-top:0.8em;*/
}
.info-article > aside > div > h3:nth-child(1n+2) {
    
    margin-top:0.8em;
}
.info-article > aside > div > address {
    font-style: normal;
}
/* ****************************
            divider one
***************************** */

.section-divider {
    height: 250px;
    background-image: url('images/divider3.jpg');
    background-size: cover;
    background-position: center center;
    /*background-attachment: fixed;*/
}

/* ****************************
            .box-container
***************************** */

.box-container {
    padding: 40px;
}
.box-container > h1 {
    padding: 0 10px;
    border-bottom: 1px dotted #222;
    margin-bottom: 30px;
}
.box-container > article {
    display: inline-block;
    width:33%;
    vertical-align: top;
    /*border: solid 2px red;*/
    box-sizing: border-box;
    padding:10px;
}
.box-container > article > h2 {
    font-size: 18px;
    font-size: 1.8rem;
}
.box-container > article > p {
    text-align: justify;
}
/* ****************************
            divider two
***************************** */

.section-divider.two {
    background-image: url('images/divider.jpg');
}

/* ****************************
            footer
***************************** */

footer {
    background-color: #222;
    color: #fff;
    padding: 50px 0;
}
.footer-item {
    display: inline-block;
    width:33%;
    vertical-align: top;
}
footer a {
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    color:#ba3030;
}